<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>科技腾飞</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.8/css/bootstrap.min.css') }}">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="border-radius: 0">
    <div class="container">
        <a class="navbar-brand" href="#">科技腾飞</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">订单管理</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {{real_name}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 10px">

    <div style="margin-bottom: 10px">
    <a href="/order/create" type="button" class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-plus-lg me-2 align-middle" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
        </svg>
        添加订单
    </a>
</div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>数量</th>
            <th>状态</th>
            <th>客户</th>
        </tr>
        </thead>
        <tbody>

        {% for item in data_list %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.url}}</td>
            <td>{{item.count}}</td>
            <td>
                <span class="badge
{% if item.status == 1 %} bg-warning
{% elif item.status == 2 %} bg-info
{% elif item.status == 3 %} bg-success
{% elif item.status == 4 %} bg-danger
{% else %} bg-secondary
{% endif %}
rounded-pill ms-1">
        {{status_dict[item.status]}}
    </span>
            </td>
            <td>{{item.real_name}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='bootstrap-5.3.8/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>